---
---

<div
  class="section pp-scrollable slide slide-about a-slide-typed"
  data-name="about">
  <div class="slide-container">
    <div class="container">
      <div class="number-email-cv">
        <ul class="number-email">
          <li>
            Call me <a href="callto:(+778)675-0765">(+778) 675-0765</a>
          </li>
          <li>
            <a href="mailto:hello_niharika@gmail.com"
              >hello_niharika@gmail.com</a
            >
          </li>
        </ul>
        <a href="#Contact" class="download-cv"
          >Download CV <i class="fas fa-download"></i></a
        >
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div
            class="about-content pt-100 rpt-0 animate-element delay5 fadeInUp">
            <span class="sub-title mb-15 animate-element delay3 fadeInUp"
              >About Me</span
            >
            <h1 class="slide-title animate-element delay5 fadeInUp">
              Hi,<br /> I’m <span
                class="text-typed a-typed a-typed-about"
                data-text="Niharika"></span>
            </h1>
            <h3 class="animate-element delay7 fadeInUp">
              User Interface Designer
            </h3>
            <p class="animate-element delay8 fadeInUp">
              Hey are looking for designer to build your <b
                >Brand and gorw your business ?</b
              > let's shake hands with me.
            </p>
            <a
              href="#Contact"
              class="theme-btn mt-45 rmt-25 animate-element delay9 fadeInUp"
              >hire me <i class="fas fa-long-arrow-alt-right"></i></a
            >
            <div
              class="social-style-one mt-55 rmt-35 animate-element delay10 fadeInUp">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-image pt-100 rpt-50 text-lg-right">
            <div class="about-inner-images">
              <img
                class="animate-element delay7 fadeInUp"
                src="images/about/about-dark.png"
                alt="About"
              />
              <img
                class="shape-one animate-element delay10 bounceIn"
                src="images/about/shape-one-dark.png"
                alt="Shape"
              />
              <img
                class="shape-two animate-element delay11 bounceIn"
                src="images/about/shape-two-dark.png"
                alt="Shape"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
