---
---

<header id="header" class="header">
  <div class="container-fluid">
    <div class="brand">
      <a href="index.html" class="brand-name"><b>it's</b> Me</a>
    </div>
    <div class="lets-chat">
      <span>Let's Chat</span>
      <button><i class="fab fa-rocketchat"></i></button>
    </div>
    <button class="nav-toggle-btn a-nav-toggle">
      <span class="hamburger">
        <span class="top-bun"></span>
        <span class="meat"></span>
        <span class="bottom-bun"></span>
      </span>
    </button>
    <div class="hide-menu a-nav-toggle"></div>
    <div class="menu">
      <div class="menu-lang">
        <a href="#" class="menu-lang-item active">Eng.</a>
        <a href="#" class="menu-lang-item">Fra.</a>
        <a href="#" class="menu-lang-item">Ara.</a>
      </div>
      <div class="menu-main mt-100" id="accordion">
        <ul id="menuMain">
          <li data-menuanchor="About" class="active">
            <a href="#About">About</a>
          </li>
          <li data-menuanchor="Services"><a href="#Services">Services</a></li>
          <li data-menuanchor="Skills"><a href="#Skills">Skills</a></li>
          <li data-menuanchor="Resume"><a href="#Resume">Resume</a></li>
          <li data-menuanchor="Portfolio">
            <a href="#Portfolio">Portfolio</a>
          </li>
          <li data-menuanchor="Testimonials">
            <a href="#Testimonials">Testimonials</a>
          </li>
          <li data-menuanchor="Weapons"><a href="#Weapons">Weapons</a></li>
          <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
        </ul>
      </div>
      <div class="menu-ornament"></div>
    </div>
  </div>
</header>
