---
export interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/css/animate.min.css">
		<link rel="stylesheet" href="/css/bootstrap-4.5.3.min.css">
		<link rel="stylesheet" href="/css/fontawesome.5.9.0.min.css">
		<link rel="stylesheet" href="/css/jquery.pagepiling.css">
		<link rel="stylesheet" href="/css/responsive.css">
		<link rel="stylesheet" href="/css/slick.min.css">
		<link rel="stylesheet" href="/css/spacing.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script is:inline src="/js/bootstrap.4.5.3.min.js"></script>
		<script is:inline src="/js/jquery-3.6.0.min.js"></script>
		<script is:inline src="/js/jquery.pagepiling.min.js"></script>
		<script is:inline src="/js/jquery.viewport.js"></script>
		<script is:inline src="/js/popper.min.js"></script>
		<script is:inline src="/js/script.js"></script>
		<script is:inline src="/js/slick.min.js"></script>
		<script is:inline src="/js/smoothscroll.js"></script>
		<script is:inline src="/js/typed.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="body-piling dark-body">
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	html {
		font-family: 'Poppins', sans-serif;
	}
</style>
